JMOElection/Connected Services/JMOServiceReference/votecontroller1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AllowVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Booth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllowVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Booth" type="xs:int" />
        <xs:element minOccurs="0" name="TotalVotes" type="xs:int" />
        <xs:element minOccurs="0" name="IsVotingOpen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteFeedbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>